@if ( tokenError() ) {
    <nz-alert nzType="error" [nzMessage]="'CK.Auth.ResetPassword.InvalidTokenTitle' | translate" [nzDescription]="tokenError()!" nzShowIcon />
} @else {
    <div class="ck-reset-password-welcome">
        <span class="header">{{ 'CK.Auth.ResetPassword.Title' | translate }}</span>
        <span class="sub">{{ 'CK.Auth.ResetPassword.SubTitle' | translate }}</span>
    </div>

    <form nz-form [formGroup]="form" class="ck-reset-password-form" (ngSubmit)="submit()">
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="passwordError">
                <nz-input-group [nzSuffix]="passwordSuffix">
                    <fa-icon class="ck-btn-icon" [icon]="passwordIcon" />
                    <input nz-input autocomplete="new-password" [type]="showPassword() ? 'text' : 'password'" formControlName="password" [placeholder]="'CK.Auth.ResetPassword.Password.Placeholder' | translate" />
                </nz-input-group>
                <ng-template #passwordSuffix>
                    <fa-icon class="ck-reset-password-eye" [icon]="showPassword() ? eyeIcon : eyeSlashIcon" (click)="toggleShowPassword()" />
                </ng-template>
            </nz-form-control>
            <ng-template #passwordError>
                @if ( form.get( 'password' )!.hasError( 'required' ) ) {
                    <span>{{ 'CK.Auth.ResetPassword.Password.Required' | translate }}</span>
                } @else if ( form.get( 'password' )!.hasError( 'minlength' ) ) {
                    <span>{{ 'CK.Auth.ResetPassword.Password.MinLength' | translate }}</span>
                } @else if ( form.get( 'password' )!.hasError( 'passwordComplexity' ) ) {
                    <span>{{ 'CK.Auth.ResetPassword.Password.Complexity' | translate }}</span>
                }
            </ng-template>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="confirmError">
                <nz-input-group [nzSuffix]="confirmSuffix">
                    <fa-icon class="ck-btn-icon" [icon]="passwordIcon" />
                    <input nz-input autocomplete="new-password" [type]="showConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword" [placeholder]="'CK.Auth.ResetPassword.ConfirmPassword.Placeholder' | translate" />
                </nz-input-group>
                <ng-template #confirmSuffix>
                    <fa-icon class="ck-reset-password-eye" [icon]="showConfirmPassword() ? eyeIcon : eyeSlashIcon" (click)="toggleShowConfirmPassword()" />
                </ng-template>
            </nz-form-control>
            <ng-template #confirmError>
                @if ( form.get( 'confirmPassword' )!.hasError( 'required' ) ) {
                    <span>{{ 'CK.Auth.ResetPassword.ConfirmPassword.Required' | translate }}</span>
                } @else if ( form.get( 'confirmPassword' )!.hasError( 'passwordMismatch' ) ) {
                    <span>{{ 'CK.Auth.ResetPassword.ConfirmPassword.Mismatch' | translate }}</span>
                }
            </ng-template>
        </nz-form-item>

        <button nz-button nzType="primary" nzSize="large" class="ck-reset-password-submit" [disabled]="form.invalid || submitting()" [nzLoading]="submitting()" type="submit">
            {{ 'CK.Auth.ResetPassword.Submit' | translate }}
        </button>
    </form>
}
