environment:
  CODECAKEBUILDER_SECRET_KEY:
    secure: 8VAzdXgUQaJyFoU3WLf2iPFV/8zPDm9qV4TfOpx8/rg=
  SqlServer/MasterConnectionString: Server=(local)\SQL2017;Database=master;User ID=sa;Password=Password12!
services:
- mssql2017
version: build{build}
image: Visual Studio 2022
clone_folder: C:\CKli-World\CK-Crs-Projects\CK-Ng-User-UserProfile
on_finish:
- ps: Get-ChildItem -Recurse *.log -exclude LastRun.log  -ErrorAction SilentlyContinue | % { Push-AppveyorArtifact $_.FullName }
test: false
init:
- git config --global core.autocrlf true
build_script:
- dotnet run --project CodeCakeBuilder -nointeraction
