image: Ubuntu2204
version: build{build}
clone_folder: /usr/CKli-World/CK-Crs-Projects/CK-Ng-User-UserProfile
services:
- mssql
environment:
  MSBUILDTERMINALLOGGER: off
  YARN_ENABLE_IMMUTABLE_INSTALLS: false
  CODECAKEBUILDER_SECRET_KEY:
    secure: 8VAzdXgUQaJyFoU3WLf2iPFV/8zPDm9qV4TfOpx8/rg=
  SqlServer/MasterConnectionString: Server=localhost;Database=master;User ID=sa;Password=Password12!
on_finish:
- ps: >-
    Write-Host "Collecting logs..."

    Get-ChildItem -Recurse *.log -Exclude LastRun.log -ErrorAction SilentlyContinue |

    ForEach-Object {
        $filePath = $_.FullName;
        $fileName = $_.FullName.Replace('/', '_').Replace('\', '_').Replace(':', '');
        $fileName = $fileName.Substring($fileName.IndexOf("_Tests_") + 7).Replace("_Logs_Text_", "-");
        Push-AppveyorArtifact $_.FullName -FileName $fileName
    }

    Write-Host "Logs uploaded."
test: false
build_script:
- dotnet run --project CodeCakeBuilder -nointeraction
