<form class="ck-user-password-form" nz-form [formGroup]="formGroup" nzLayout="vertical" (keydown)="keyDown($event)">
    <!-- <PrePasswordInputFormItem revert /> -->
    <nz-form-item>
        <nz-form-label class="form-label">{{ 'CK.UserProfile.Password' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="errorTemplate">
            <nz-input-group [nzSuffix]="passwordTemplate">
                <input autocomplete="new-password" [type]="showPassword ? 'text' : 'password'" nz-input formControlName="password" [placeholder]="'CK.UserProfile.Password.InputPlaceholder' | translate" />
            </nz-input-group>
            <ng-template #passwordTemplate>
                @if( showPassword ) {
                    <fa-icon [icon]="eyeIcon" (click)="showPassword = !showPassword"></fa-icon>
                } @else {
                    <fa-icon [icon]="eyeSlashIcon" (click)="showPassword = !showPassword"></fa-icon>
                }
            </ng-template>
        </nz-form-control>
        <ng-template #errorTemplate>
            @let pwd = formGroup.get('password')!;
            <!-- <PrePasswordInputErrors revert /> -->
            <!-- <PrePasswordRequiredError revert /> -->
            @if( pwd.hasError('required') ) {
                {{ 'CK.UserProfile.Form.PasswordRequired' | translate }}
            }
            <!-- <PostPasswordRequiredError /> -->
            <!-- <PrePasswordLengthError revert /> -->
            @if( pwd.hasError('minlength') ) {
                {{ getMinLengthError() }}
            }
            <!-- <PostPasswordLengthError /> -->
            <!-- <PostPasswordInputErrors /> -->
        </ng-template>
    </nz-form-item>
    <!-- <PostPasswordInputFormItem /> -->
    <!-- <PreRepeatPasswordInputFormItem revert /> -->
    <nz-form-item>
        <nz-form-label class="form-label">{{ 'CK.UserProfile.RepeatPassword' | translate }}</nz-form-label>
        <nz-form-control [nzErrorTip]="repeatErrorTemplate">
            <nz-input-group [nzSuffix]="repeatTemplate">
                <input autocomplete="new-password" [type]="showRepeatPassword ? 'text' : 'password'" nz-input formControlName="repeat" [placeholder]="'CK.UserProfile.RepeatPassword.InputPlaceholder' | translate" />
            </nz-input-group>
            <ng-template #repeatTemplate>
                @if( showRepeatPassword ) {
                    <fa-icon [icon]="eyeIcon" (click)="showRepeatPassword = !showRepeatPassword"></fa-icon>
                } @else {
                    <fa-icon [icon]="eyeSlashIcon" (click)="showRepeatPassword = !showRepeatPassword"></fa-icon>
                }
            </ng-template>
        </nz-form-control>
        <ng-template #repeatErrorTemplate>
            <!-- <PreRepeatPasswordInputErrors revert /> -->
            @if( formGroup.get('repeat')!.hasError('mismatch') ) {
                {{ 'CK.UserProfile.Form.PasswordMustMatch' | translate }}
            }
            @if( formGroup.get('repeat')!.hasError('required') ) {
                {{ 'CK.UserProfile.Form.RepeatPasswordRequired' | translate }}
            }
            <!-- <PostRepeatPasswordInputErrors /> -->
        </ng-template>
    </nz-form-item>
    <!-- <PostRepeatPasswordInputFormItem /> -->
</form>
<div class="form-buttons">
    <button nz-button (click)="cancel()" nzDanger nzType="link">
        <fa-icon [icon]="xIcon" class="ck-btn-icon"></fa-icon>
        {{ 'CK.UserProfile.UserPassword.Button.Cancel' | translate }}
    </button>
    <button nz-button nzType="primary" (click)="setPasswordAsync()" [disabled]="formGroup.invalid">
        <fa-icon [icon]="validIcon" class="ck-btn-icon"></fa-icon>
        {{ 'CK.UserProfile.UserPassword.Button.Confirm' | translate }}
    </button>
</div>
