// This file contains the lifted content of all the "Res/variables.less", "Res/<package or group name>.variables.less",
// "Res[After]/variables.less" or "Res[After]/<package or group name>.variables.less" (following their topological order)
// of the 16 stable packages.
// CK/Ng/Zorro/variables.less
@primary-color: #009a9c;
@primary-color-transparent: #009a9c75;
@error-color: #ae0200;
@warn-color: #fdac0b;
@white: rgba(255, 255, 255, 0.9);
@pure-white: #fff;
@black: #000;
@grey: #6b6b6b;
@dark-grey: #505050;
@light-grey: #ababab;

@font-weight-bold: 600;
@title-font-size: clamp(1.5rem, 2vw + 1rem, 2.2rem);
@subtitle-font-size: clamp(1.25rem, 1.5vw + 0.75rem, 1.4rem);
@regular-font-size: clamp(1rem, 1vw + 0.5rem, 1rem);

@ck-generic-form-error-color: @error-color;
@ck-icon-right-margin: 10px;
@ck-icon-left-margin: 10px;
@ck-border-radius: 7px;

// CK/Ng/Zorro/generic-form/variables.less
@ck-generic-form-item-vertical-bottom-margin: 0;
@ck-generic-form-item-vertical-bottom-padding: 0.5%;
@ck-generic-form-general-errors-border: 1px solid #b81311;
@ck-generic-form-general-errors-padding: 1%;
@ck-generic-form-general-errors-bottom-margin: 1%;
@ck-generic-form-general-errors-border-radius: 8px;
@ck-generic-form-error-color: @error-color;

// CK/Ng/AspNet/Auth/authentication-page/variables.less
@ck-auth-back-btn-top: 4%;
@ck-auth-back-btn-left-margin: 2%;
@ck-auth-bg-color: #f0f0f0;

// CK/Ng/AspNet/Auth/login/variables.less
@ck-login-padding: 5%;
@ck-login-form-logo-width: 60%;
@ck-login-form-logo-maxwidth: 60%;

@ck-login-form-welcome-width: 70%;
@ck-login-form-welcome-margin: 5% 0;

@ck-login-form-width: 70%;

// CK/Ng/AspNet/Auth/user-info-box/variables.less
@ck-user-info-box-avatar-font-size: @subtitle-font-size;
@ck-user-info-box-username-font-weight: 400;
@ck-user-info-box-username-font-size: @subtitle-font-size;
@ck-user-info-box-divider-margin: 0.3% 1%;
@ck-user-info-box-logout-color: @error-color;

// CK/Ng/AspNet/Auth/Basic/basic-login-form/variables.less
@ck-login-basic-form-width: 100%;

