<div class="ck-password-lost-welcome">
    <span class="header">{{ 'CK.Auth.PasswordLost.Title' | translate }}</span>
    <span class="sub">{{ 'CK.Auth.PasswordLost.SubTitle' | translate }}</span>
</div>

@if ( submitted() ) {
    <div class="ck-password-lost-confirmation">
        <p>{{ 'CK.Auth.PasswordLost.Confirmation' | translate }}</p>
    </div>
} @else {
    <form nz-form [formGroup]="form" class="ck-password-lost-form" (ngSubmit)="submit()">
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="emailError">
                <nz-input-group>
                    <fa-icon class="ck-btn-icon" [icon]="emailIcon" />
                    <input nz-input type="email" autocomplete="email" formControlName="email" [placeholder]="'CK.Auth.PasswordLost.Email.Placeholder' | translate" />
                </nz-input-group>
            </nz-form-control>
            <ng-template #emailError>
                @if ( form.get( 'email' )!.hasError( 'required' ) ) {
                    <span>{{ 'CK.Auth.PasswordLost.Email.Required' | translate }}</span>
                } @else if ( form.get( 'email' )!.hasError( 'email' ) ) {
                    <span>{{ 'CK.Auth.PasswordLost.Email.Invalid' | translate }}</span>
                }
            </ng-template>
        </nz-form-item>

        <button nz-button nzType="primary" nzSize="large" class="ck-password-lost-submit" [disabled]="form.invalid || submitting()" [nzLoading]="submitting()" type="submit">
            {{ 'CK.Auth.PasswordLost.Submit' | translate }}
        </button>
    </form>
}
