ck-password-lost-form {
    width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: @regular-font-size;
}

.ck-password-lost-form-welcome {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5% 0;

    .header {
        font-size: @title-font-size;
        font-weight: @font-weight-bold;
    }

    .sub {
        font-size: @subtitle-font-size;
        color: @light-grey;
    }
}

.ck-password-lost-form-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 0.5rem;
}

.ck-password-lost-form-submit {
    width: 100%;
    margin-top: 0.5rem;
}

.ck-password-lost-form-confirmation {
    width: 70%;
    padding: 1rem;
    background-color: rgba(0, 154, 156, 0.08);
    border-radius: 4px;
    line-height: 1.5;
}
